spring:
 application:
  name: eureka-bus-client-configs

eureka:
 instance:
  instance-id: ${spring.application.name}:localhost:${server.port}
 client:
  register-with-eureka: true
  fetch-registry: true
  service-url:
   defaultZone: http://localhost:1124/server/eureka/

hystrix:
 dashboard:
  proxy-stream-allow-list:
   - desktop-9la2t3c
   - localhost

info: bus-config-client-info-ZEO1